body {
  background: gray;
}
.frame {
  background: white;
  margin: 50px auto;
  width: 300px;
  height: 30vh;
  /* overflow-y: scroll; */
  overflow-y: hidden;
  overflow-x: hidden;
  outline: 1px solid black;
  padding: 20px;

  /* add to container */
  position: relative;
}
.bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
}
.handle {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  width: 20px;
  border-radius: 10px;
  height: 40px;
}